<h1>Current Exhibits:</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th>Artist_id</th>
    <th></th>
    <th>Category</th>
    <th></th>
    <th>Info</th>
    <th></th>
  </tr>
  <% for exhibit in @exhibits %>
  <tr>
    <td><%=exhibit.name%></td>
    <td>|</td>
    <td><%=exhibit.artist_id%></td>
    <td>|</td>
    <td><%=exhibit.category%></td>
    <td>|</td>
    <td><%=exhibit.info%></td>
    <td>|</td>
    <td><a href="/admin/edit/<%= exhibit.id %>">Edit</a></td>
  </tr>
  <% end %>
</table>

<h4><a href="/admin/add">Add an Exhibit</a></h4>

<h4><a href="/admin/artists">List of Artists</a></h4>



<p><a href='/'>Back</a></p>
